html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgba(0,255,127,1);
    background: linear-gradient(69deg, rgba(255,127,127,1) 0%, rgba(127,255,0,1) 21%, rgba(0,255,127,1) 71%, rgba(0,127,127,1) 97%);
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    user-select: none;
    color: black;
}

.main {
    display: grid;
    grid-template-rows: 250px auto 250px 15px;
    gap: 0;
    margin: auto;
    padding: 0;
    width: 69%;
    min-width: 1200px;
    min-height: 100%;
    background-color: rgba(0,255,127,0.3);
    border-left: 2px solid rgba(0,127,127,1);
    border-right: 2px solid rgba(0,127,127,1);
    vertical-align: middle;
    text-align: center;
}

.outer-field {
    display: grid;
    grid-template-columns: 200px auto 200px;
}

.action-menu {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
    padding: 10px;
}

.action-menu > div {
    border: 1px solid rgba(0,127,127,1);
    border-radius: 10px;
}

.action-menu > div:hover {
    border: 2px solid rgba(0,127,127,1);
    color: whitesmoke;
    cursor: pointer;
}

.card-hand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-hand {
    background: linear-gradient(0deg, rgba(0,127,127,0.5) 0%, rgba(0,127,127,0.2) 69%, rgba(0,127,127,0) 95%);
}

#opponent-hand {
    background: linear-gradient(180deg, rgba(0,127,127,0.5) 0%, rgba(0,127,127,0.2) 69%, rgba(0,127,127,0) 95%);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100px;
    margin: 10px;
    background-color: aliceblue;
    border: 1px solid rgba(0,127,127,1);
    border-radius: 15px;
    font-size: 2.69em;
    box-shadow: 5px 5px 15px black;
}
.card:hover {
    z-index: 10;
    transform: scale(1.05);
    cursor: pointer;
}

.play-field {
    display: grid;
    grid-template-rows: 50px auto;
}

.play-field > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .main {
        width: 100%;
        min-width: 0;
        min-height: 100%;
        border: none;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
}
